<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-s.png')}}">
	<title>SUPLYMAX | CATALOGO</title>
</head>
<body>
<div class="cabezera-pegadisa">
	<header class="header-container">
		<li class="img_logo-container"><img src="/static/styles/logo-s.png" alt="logo"></li>
		<input type="text" name="p_search" placeholder="Buscar producto" class="buscar-input" id="buscador" autocomplete="off">
	</header>
	<div>
		<h2 class="titulo-categorias">Nuestras categorias</h2>
	</div>
<aside class="categorias-container">
	{%for x in p_categorys%}
		<h2><a href=category/{{x._id}}>{{x.cat_name}}</a></h2>
	{%endfor%}
</aside>

</div>
<div class="seccion productos">
	<ul class="contenedor_productos">
		{% for p in alls_products %}
			<li class="producto_container" id="producto">
				<div class="img-product">
					<img src="https://res.cloudinary.com/degdcver8/image/upload/v1693325885/{{p.file_name}}.png" alt="{{p.file_name}}">
				</div>
				<div class="datos_producto">
					<h2 class="n_producto" >{{p.p_name}}</h2>
					<h2 class="p_producto">${{p.p_price}}</h2>
					<a href=product/{{p._id}} class="ver_mas">Ver mas</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<footer>Todos los derechos reservados SUPLYMAX 2023</footer>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>