<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-s.png')}}">
	<title>SUPLYMAX | CATALOGO</title>
</head>
<body>
<div class="cabezera-pegadisa">
	<header class="header-container">
		<div class="contenedor_img_logo">
			<p>SUPLYMAX</p>
			<img src="/static/styles/logo-s.png" alt="logo" class="img_logo">
		</div>
		<input type="text" name="p_search" placeholder="Buscar producto" class="buscar-input" id="buscador" autocomplete="off">
	</header>
	<div class="contenedor_superior">
		<h2 class="titulo-categorias">Nuestras categorias</h2>
		<aside class="categorias-container">
			<a href="{{url_for('allcategorys')}}" class="ver_categorias">Categorias</a>
		</aside>
	</div>
</div>
<h2 class="cantidad_productos">Cantidad de productos disponibles: ({{products_quantity}})</h2>
<div class="seccion productos">
	<ul class="contenedor_productos">
		{% for p in alls_products %}
			<li class="producto_container" id="producto">
				<div class="img-product">
					<img src="https://res.cloudinary.com/degdcver8/image/upload/v1693325885/{{p.file_name}}.png" alt="{{p.file_name}}">
				</div>
				<div class="datos_producto">
					<h2 class="n_producto">{{p.p_name}}</h2>
					<h2 class="p_producto">${{p.p_price}} <br>BS {{p.priceVes}}</h2>
					<a href=product/{{p._id}} class="ver_mas">Ver mas</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>