<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/productInfo.css') }}"  type= "text/css">
	<link rel="shortcut icon" href="{{url_for('static', filename='styles/logo-s.png')}}">
	<title>SUPLYMAX | {{p_fund.p_name}}</title>
</head>
<header>
	<ul>
		<li><a href="{{url_for('home')}}" class="btn_volver">Inicio</a></li>
	</ul>
</header>

<body>
	<div class="contenedor_principal">
		<div class="contenedor_producto">
			<h1 class="n_producto">{{p_fund.p_name}}</h1>
			<a href=/category/{{cat_fund._id}} class="cat_producto">{{cat_fund.cat_name}}</a>
			<div class="img_product_container">
				<img src="https://res.cloudinary.com/degdcver8/image/upload/v1693325885/{{p_fund.file_name}}.png" alt="{{p_fund.file_name}}">
			</div>
			<div class="info_producto">
				<h2 class="p_producto">{{p_fund.p_price}}$ <br> BS {{p_fund.priceVes}}</h2>
				<p class="d_producto">{{p_fund.p_description}}</p>
				<h3 class="c_producto">Diponible: {{p_fund.p_quantity}}</h3>
			</div>
		</div>
	</div>
</body>
</html>