<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/welcome.css')}}">
    <title>SUPLYMAX</title>
</head>
<body>
    <div class="general_container">
        <div class="contend_upper">
            <h3 class="text_h3">Catalogo Móvil</h3>
            <h1 class="text_h1">SUPLYMAX</h1>
        </div>

        <div class="img_suplymax">
            <img src="{{url_for('static', filename='styles/icons/suplymax.png')}}" alt="" class="img">
        </div>

        <h2 class="text_h2">Productos y servicios más cerca de ti</h2>

        <div class="contend_lower">
            <a href="{{url_for('guide')}}" class="text_a">Siguiente</a>
        </div>
    </div>
</body>
</html>